In [2]:
import pandas as pd

In [3]:
data_path_2 = r'/Users/harshitgupta/Downloads/HISTORICALSALES_202403151525_copy.csv'
data_path_1 = r'/Users/harshitgupta/Library/CloudStorage/OneDrive-InfiniteLocusPrivateLimited/STORES_202403151524.csv'
df2 = pd.read_csv(data_path_2)
df1 = pd.read_csv(data_path_1)

/var/folders/_p/ljb0l43112vc95swz8nhgv340000gn/T/ipykernel_21439/2605523870.py:4: DtypeWarning: Columns (22,46,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(data_path_1)

In [4]:
df2.head()

,STORELNK,ARTICLE,DATE_FIELD,SALES,UNITS,DATEMODIFIED,WEEK,FY,YEARWEEK,UPLOAD_DATE,...,QUARTERNUMBER,MONTHLNK,REPORTSALES,UNITSF,STOREID,EOWSTOREINV,HISTORICALSALESID,MODIFIED_DATE,SALES_COST_AMT_USD,LBI_COGS_AUC_USD
0,V873,25121431,2020-02-07 00:00:00.000,28.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,1.0,1.0,28.0,NaN,7850.0,15.0,241444080.0,NaN,8.62,8.62
1,V873,25122697,2020-02-06 00:00:00.000,104.0,4.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,1.0,1.0,104.0,NaN,7850.0,2.0,241444082.0,NaN,29.20,7.30
2,V873,25122697,2020-02-07 00:00:00.000,26.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,1.0,1.0,26.0,NaN,7850.0,2.0,241444083.0,NaN,7.30,7.30
3,V873,25122703,2020-02-03 00:00:00.000,28.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,1.0,1.0,28.0,NaN,7850.0,35.0,241444084.0,NaN,8.07,8.07
4,V873,25125605,2020-02-06 00:00:00.000,79.2,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,1.0,1.0,79.2,NaN,7850.0,12.0,241444086.0,NaN,29.26,29.26

In [5]:
merged_df = pd.merge(df2, df1[['STOREID', 'PTNR_REGIONAL_MASTER_CD', 'PTNR_REGIONAL_MASTER_NAME']], on='STOREID', how='left')
merged_df.to_csv('merge_hisSales_stores.csv', index=False)

In [6]:
merged_df.head()

,STORELNK,ARTICLE,DATE_FIELD,SALES,UNITS,DATEMODIFIED,WEEK,FY,YEARWEEK,UPLOAD_DATE,...,REPORTSALES,UNITSF,STOREID,EOWSTOREINV,HISTORICALSALESID,MODIFIED_DATE,SALES_COST_AMT_USD,LBI_COGS_AUC_USD,PTNR_REGIONAL_MASTER_CD,PTNR_REGIONAL_MASTER_NAME
0,V873,25121431,2020-02-07 00:00:00.000,28.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,28.0,NaN,7850.0,15.0,241444080.0,NaN,8.62,8.62,50000031.0,ESSENCE AMERICAS
1,V873,25122697,2020-02-06 00:00:00.000,104.0,4.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,104.0,NaN,7850.0,2.0,241444082.0,NaN,29.20,7.30,50000031.0,ESSENCE AMERICAS
2,V873,25122697,2020-02-07 00:00:00.000,26.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,26.0,NaN,7850.0,2.0,241444083.0,NaN,7.30,7.30,50000031.0,ESSENCE AMERICAS
3,V873,25122703,2020-02-03 00:00:00.000,28.0,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,28.0,NaN,7850.0,35.0,241444084.0,NaN,8.07,8.07,50000031.0,ESSENCE AMERICAS
4,V873,25125605,2020-02-06 00:00:00.000,79.2,1.0,2020-02-11 13:00:59.000,1,2020,202001,2020-02-11 13:00:59.000,...,79.2,NaN,7850.0,12.0,241444086.0,NaN,29.26,29.26,50000031.0,ESSENCE AMERICAS

In [7]:
merged_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
STORELNK,7047095,2195,W294,32606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARTICLE,7047095.0,NaN,NaN,NaN,25119297.813259,1988824.59975,0.0,23940821.0,26001279.0,26290049.0,92014628.0
DATE_FIELD,7047095,727,2021-11-20 00:00:00.000,74559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALES,6896092.0,NaN,NaN,NaN,34.451532,562.667415,-28551.25,8.92,16.0,32.93,523138.66
UNITS,7047095.0,NaN,NaN,NaN,3.262003,49.644338,-700.0,1.0,1.0,3.0,43079.82
DATEMODIFIED,7047095,3710,2023-09-19 17:03:13.000,1876612,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WEEK,7047095.0,NaN,NaN,NaN,29.534066,16.127542,1.0,17.0,29.0,44.0,52.0
FY,7047095.0,NaN,NaN,NaN,2020.759221,1.579052,2017.0,2020.0,2021.0,2022.0,2024.0
YEARWEEK,7047095.0,NaN,NaN,NaN,202105.45613,157.581907,201749.0,202017.0,202129.0,202237.0,202405.0
UPLOAD_DATE,7029139,4858,2021-02-01 03:38:37.000,169785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALESLOCALCURRENCY,7047094.0,NaN,NaN,NaN,66266.815194,1169833.582338,-20362836.08,14.35,54.47,258.62,464485019.2
SEASON,7047094,2,Fall,4049678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QUARTERNUMBER,7047094.0,NaN,NaN,NaN,2.702411,1.177497,1.0,2.0,3.0,4.0,4.0
MONTHLNK,7047094.0,NaN,NaN,NaN,7.140399,3.659691,1.0,4.0,7.0,11.0,12.0
REPORTSALES,6897962.0,NaN,NaN,NaN,33.094762,561.942045,-28551.25,8.307958,15.288272,31.482846,523138.66
UNITSF,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STOREID,7047094.0,NaN,NaN,NaN,2390888.337819,2113498.668866,2.0,11690.0,2504314.0,4141384.0,9835867.0
EOWSTOREINV,3052640.0,NaN,NaN,NaN,60.427821,372.489427,-9419.0,5.0,18.0,49.0,84415.0
HISTORICALSALESID,7047094.0,NaN,NaN,NaN,275942464.974918,42078488.828297,195374335.0,243982976.25,274589280.5,315716285.0,348341342.0
MODIFIED_DATE,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALES_COST_AMT_USD,7029138.0,NaN,NaN,NaN,4.656328,27.480173,-959.7,0.0,1.58,3.92,20194.44
LBI_COGS_AUC_USD,7029138.0,NaN,NaN,NaN,2.153033,4.10474,0.0,0.0,1.51,2.4,401.03
PTNR_REGIONAL_MASTER_CD,7047072.0,NaN,NaN,NaN,28699795.764759,24724806.323531,0.0,0.0,50000009.0,50000078.0,50001297.0
PTNR_REGIONAL_MASTER_NAME,7047072,72,UNKNOWN,3002094,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
merged_df.columns

Index(['STORELNK', 'ARTICLE', 'DATE_FIELD', 'SALES', 'UNITS', 'DATEMODIFIED',
       'WEEK', 'FY', 'YEARWEEK', 'UPLOAD_DATE', 'SALESLOCALCURRENCY', 'SEASON',
       'QUARTERNUMBER', 'MONTHLNK', 'REPORTSALES', 'UNITSF', 'STOREID',
       'EOWSTOREINV', 'HISTORICALSALESID', 'MODIFIED_DATE',
       'SALES_COST_AMT_USD', 'LBI_COGS_AUC_USD', 'PTNR_REGIONAL_MASTER_CD',
       'PTNR_REGIONAL_MASTER_NAME'],
      dtype='object')

In [9]:
import numpy as np
import matplotlib.pyplot as plt

In [10]:
unique_articles = merged_df['ARTICLE'].unique()

In [11]:
unique_articles

array([25121431, 25122697, 25122703, ..., 26338620, 23790935, 26513808])

In [12]:

article_arrays = {}

for article in unique_articles:

    article_df = merged_df[merged_df['ARTICLE'] == article]
    

    unique_regions = article_df['PTNR_REGIONAL_MASTER_NAME'].unique()
    unique_yearweeks = article_df['YEARWEEK'].unique()

    sales_array = np.zeros((len(unique_regions), len(unique_yearweeks)))
    

    for i, region in enumerate(unique_regions):
        for j, yearweek in enumerate(unique_yearweeks):
            sales = article_df[(article_df['PTNR_REGIONAL_MASTER_NAME'] == region) & (article_df['YEARWEEK'] == yearweek)]['SALES'].sum()
            sales_array[i, j] = sales
    
    article_arrays[article] = (unique_regions, unique_yearweeks, sales_array)

KeyboardInterrupt:

In [ ]:
for article, (regions, yearweeks, sales_array) in article_arrays.items():
    plt.figure(figsize=(10, 6))
    plt.imshow(sales_array, cmap='viridis', interpolation='nearest')
    plt.title(f'Sales Matrix for ARTICLE: {article}')
    plt.xlabel('YEARWEEK')
    plt.ylabel('PTNR_REGIONAL_MASTER_NAME')
    plt.xticks(range(len(yearweeks)), yearweeks, rotation=90)
    plt.yticks(range(len(regions)), regions)
    plt.colorbar(label='Sales')
    plt.tight_layout()
    plt.show()