In [10]:
import pandas as pd

In [11]:
df = pd.read_parquet('sorted_data.parquet')

In [12]:
df.head()

    PTNR_RM_CODE  WEEK DATE_FIELD      SALES    FLAG
70           0.0    35 2020-10-03    3667.99  Active
71           0.0    36 2020-10-04  170271.74  Active
72           0.0    36 2020-10-05  157920.38  Active
73           0.0    36 2020-10-06  114844.09  Active
74           0.0    36 2020-10-07  109160.03  Active

In [13]:
df['DATE_FIELD'] = pd.to_datetime(df['DATE_FIELD'])

# Add a column for the year
df['year'] = df['DATE_FIELD'].dt.year

# Calculate the week number starting from 1st February
df['week_num'] = df['DATE_FIELD'].dt.strftime('%W').astype(int) - pd.to_datetime(df['year'].astype(str) + '-02-01').dt.strftime('%W').astype(int) + 1

# Create the yearweeks column by combining year and week_num
df['yearweeks'] = df['year'].astype(str) + df['week_num'].astype(str)

# Drop the temporary columns if needed
df.drop(['year', 'week_num'], axis=1, inplace=True)

In [14]:
df['month'] = df['DATE_FIELD'].dt.month

In [15]:
df['year'] = df['DATE_FIELD'].dt.year

In [25]:
df['yearweeks'] = df['yearweeks'].str.replace('20201', '201953')

# Display the DataFrame with the modified yearweeks column
print(df.head())

    PTNR_RM_CODE  WEEK DATE_FIELD      SALES    FLAG yearweeks  month  year
70           0.0    35 2020-10-03    3667.99  Active    202036     10  2020
71           0.0    36 2020-10-04  170271.74  Active    202036     10  2020
72           0.0    36 2020-10-05  157920.38  Active    202037     10  2020
73           0.0    36 2020-10-06  114844.09  Active    202037     10  2020
74           0.0    36 2020-10-07  109160.03  Active    202037     10  2020

In [26]:
df.to_parquet('sorted_data.parquet')

In [27]:
df.drop(['year', 'month'], axis=1, inplace=True)

In [28]:
df.to_parquet('sorted_data.parquet')