In [1]:
import pandas as pd

In [2]:
file_path = '/Users/harshitgupta/Desktop/vs /VS-Data-Den/data_cleaning/filled_model_dataset.csv'

In [15]:
data = pd.read_csv(file_path)
# data = pd.read_csv('/Users/harshitgupta/Desktop/vs /VS-Data-Den/data_cleaning/filled_model_dataset.csv' , sep='\t')

In [37]:
# data.to_csv(file_path, sep='\t', index=False)

In [4]:
data.head()

   PTNR_REGIONAL_MASTER_CD  YEARWEEK  TOTAL_SALES      flag
0                      0.0    201948     28994.45    active
1                      0.0    201949    127699.87    active
2                      0.0    201950    102609.00    active
3                      0.0    201951          NaN  inactive
4                      0.0    201952          NaN  inactive

In [16]:
data.loc[data['flag'] == 'inactive', 'flag'] = 0

In [17]:
data.loc[data['flag'] == 'active', 'flag'] = 1

In [7]:
data.head(10)

   PTNR_REGIONAL_MASTER_CD  YEARWEEK  TOTAL_SALES flag
0                      0.0    201948     28994.45    1
1                      0.0    201949    127699.87    1
2                      0.0    201950    102609.00    1
3                      0.0    201951          NaN    0
4                      0.0    201952          NaN    0
5                      0.0    202001          NaN    0
6                      0.0    202002          NaN    0
7                      0.0    202003          NaN    0
8                      0.0    202004          NaN    0
9                      0.0    202005          NaN    0

In [7]:
# data['YEARWEEK'] = data['YEARWEEK'].astype(str)
# data['YEARWEEK'] = pd.to_datetime(data['YEARWEEK'].astype(str) + '-0', format='%Y%W-%w')

In [18]:
data['YEARWEEK'] = pd.to_datetime(data['YEARWEEK'].astype(str) + '-0', format='%Y%W-%w')

In [19]:
data.head()

   PTNR_REGIONAL_MASTER_CD   YEARWEEK  TOTAL_SALES flag
0                      0.0 2019-12-08     28994.45    1
1                      0.0 2019-12-15    127699.87    1
2                      0.0 2019-12-22    102609.00    1
3                      0.0 2019-12-29          NaN    0
4                      0.0 2020-01-05          NaN    0

In [20]:
X = data.drop(columns=['flag']) 
y_sales = data['TOTAL_SALES'] 
y_flag = data['flag']

In [21]:
X

       PTNR_REGIONAL_MASTER_CD   YEARWEEK  TOTAL_SALES
0                          0.0 2019-12-08     28994.45
1                          0.0 2019-12-15    127699.87
2                          0.0 2019-12-22    102609.00
3                          0.0 2019-12-29          NaN
4                          0.0 2020-01-05          NaN
...                        ...        ...          ...
18639               50001297.0 2024-02-04     16917.58
18640               50001297.0 2024-02-11     12848.38
18641               50001297.0 2024-02-18     20193.45
18642               50001297.0 2024-02-25     28072.44
18643               50001297.0 2024-03-03     22450.98

[18644 rows x 3 columns]

In [22]:
from sklearn.linear_model import RidgeClassifier, Ridge
from sklearn.model_selection import train_test_split
from sktime.transformations.panel.compose import ColumnConcatenator
from sktime.datatypes._panel._convert import from_3d_numpy_to_nested
from sktime.transformations.panel.rocket import Rocket
# from sktime.utils.data_processing import from_3d_numpy_to_nested

In [23]:
rocket = Rocket()
concatenator = ColumnConcatenator()

In [24]:
X_processed = from_3d_numpy_to_nested(concatenator.fit_transform(rocket.fit_transform(X)))

TypeError: unsupported operand type(s) for +: 'Timestamp' and 'Timestamp'

In [25]:
from sktime.transformations.panel.rocket import Rocket
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
from sktime.regression.kernel_based import RocketRegressor

In [39]:
data = pd.read_csv(file_path, sep='\t')

In [41]:
data.head()

   PTNR_REGIONAL_MASTER_CD  TOTAL_SALES  flag
0                      0.0     28994.45     1
1                      0.0    127699.87     1
2                      0.0    102609.00     1
3                      0.0    102609.00     0
4                      0.0    102609.00     0

In [40]:
data = data.set_index('YEARWEEK')

KeyError: "None of ['YEARWEEK'] are in the columns"

In [27]:
y = data['TOTAL_SALES']

In [30]:
data['TOTAL_SALES'] = data['TOTAL_SALES'].fillna(method='ffill')

/var/folders/_p/ljb0l43112vc95swz8nhgv340000gn/T/ipykernel_8782/3541821458.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['TOTAL_SALES'] = data['TOTAL_SALES'].fillna(method='ffill')

In [31]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, shuffle=False)

In [33]:
X_train_array = X_train.to_numpy()

In [35]:
from sktime.datatypes import from_pandas

ImportError: cannot import name 'from_pandas' from 'sktime.datatypes' (/Users/harshitgupta/Desktop/vs /VS-Data-Den/.venv/lib/python3.9/site-packages/sktime/datatypes/__init__.py)

In [34]:
rocket = RocketRegressor(num_kernels=10_000, random_state=42)

rocket.fit(X_train_array, y_train)

TypeError: Unsupported input data type in TransformerPipeline, input X must be in an sktime compatible format. Allowed scitypes for X in transformations are Series, Panel or Hierarchical, for instance a pandas.DataFrame with sktime compatible time indices, or with MultiIndex and last(-1) level an sktime compatible time index. Allowed compatible mtype format specifications are: ['pd.Series', 'pd.DataFrame', 'np.ndarray', 'nested_univ', 'numpy3D', 'pd-multiindex', 'df-list', 'pd_multiindex_hier'] . See the data format tutorial examples/AA_datatypes_and_datasets.ipynb. If you think the data is already in an sktime supported input format, run sktime.datatypes.check_raise(data, mtype) to diagnose the error, where mtype is the string of the type specification you want. Error message for checked mtypes, in format [mtype: message], as follows: [pd.Series: X must be a pandas.Series, found <class 'pandas.core.frame.DataFrame'>]  [pd.DataFrame: <class 'pandas.core.indexes.multi.MultiIndex'> is not supported for X, use one of (<class 'pandas.core.indexes.range.RangeIndex'>, <class 'pandas.core.indexes.period.PeriodIndex'>, <class 'pandas.core.indexes.datetimes.DatetimeIndex'>) or integer index instead.]  [np.ndarray: X must be a numpy.ndarray, found <class 'pandas.core.frame.DataFrame'>]  [nested_univ: X entries must be pd.Series]  [numpy3D: X must be a numpy.ndarray, found <class 'pandas.core.frame.DataFrame'>]  [pd-multiindex: X should not have column of 'object' dtype]  [df-list: X must be list of pd.DataFrame, found <class 'pandas.core.frame.DataFrame'>]  [pd_multiindex_hier: X should not have column of 'object' dtype]