In [18]:
import pandas as pd
from prophet import Prophet
import numpy as np
import pickle

In [19]:
regional_master = '50000001'

In [20]:
df = pd.read_csv('/Users/harshitgupta/Desktop/vs /VS-Data-Den/rm_dataset_filtered.csv')

In [21]:
df['regional_master'].unique()

array([50000001, 50000002, 50000004, 50000006, 50000007, 50000009,
       50000010, 50000011, 50000020, 50000022, 50000024, 50000027,
       50000029, 50000031, 50000033, 50000035, 50000041, 50000047,
       50000051, 50000053, 50000061, 50000065, 50000069, 50000071,
       50000073, 50000074, 50000078, 50000152, 50000183, 50000274,
       50000280, 50000288, 50000385, 50000474, 50000517, 50000529,
       50000550, 50000552, 50000558, 50000575, 50000620, 50000634,
       50000646, 50000651, 50000723, 50000727, 50000731, 50000740,
       50000746, 50000941, 50001007, 50001136])

In [32]:
regional_master_data = df[df['regional_master'] == 50000001]

In [24]:
df['date_field'] = pd.to_datetime(df['date_field'])

In [25]:
data = df.rename(columns={'date_field': 'ds', 'sales': 'y'})

In [26]:
model_path = 'model.pkl'
with open(model_path, 'rb') as f:
    model = pickle.load(f)

In [33]:
regional_data = data[data['regional_master'] == 50000001 ]

In [34]:
latest_date = regional_data['ds'].max()

In [35]:
future_dates = pd.date_range(start  =regional_data['ds'].max(), periods=90, freq='D')

In [36]:
future = pd.DataFrame({'ds': future_dates})

In [37]:
forecast = model.predict(future)

In [38]:
forecasted_sales = forecast[['ds', 'yhat']]

In [40]:
forecasted_sales

           ds           yhat
0  2023-12-31  326074.193959
1  2024-01-01  326661.077808
2  2024-01-02  327270.605099
3  2024-01-03  327892.968825
4  2024-01-04  328519.135371
..        ...            ...
85 2024-03-25  357747.313371
86 2024-03-26  357966.084075
87 2024-03-27  358113.143333
88 2024-03-28  358186.817001
89 2024-03-29  358186.666425

[90 rows x 2 columns]

In [41]:
forecasted_sales['time'] = forecasted_sales['ds']
forecasted_sales['sales'] = forecasted_sales['yhat']
forecasted_sales = forecasted_sales[['time', 'sales']]

/var/folders/_p/ljb0l43112vc95swz8nhgv340000gn/T/ipykernel_60584/3068210664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecasted_sales['time'] = forecasted_sales['ds']
/var/folders/_p/ljb0l43112vc95swz8nhgv340000gn/T/ipykernel_60584/3068210664.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecasted_sales['sales'] = forecasted_sales['yhat']

In [42]:
forecasted_sales

         time          sales
0  2023-12-31  326074.193959
1  2024-01-01  326661.077808
2  2024-01-02  327270.605099
3  2024-01-03  327892.968825
4  2024-01-04  328519.135371
..        ...            ...
85 2024-03-25  357747.313371
86 2024-03-26  357966.084075
87 2024-03-27  358113.143333
88 2024-03-28  358186.817001
89 2024-03-29  358186.666425

[90 rows x 2 columns]